@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&family=Roboto:wght@400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #E6E6E6;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 1.6rem;
}

.titulo__resultado {
  color: #7B7B7B;
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  display: none;
  transition: all .3s;
}

canvas {
  border-radius: 0.8rem;
}
